@charset "UTF-8";
/** Create by xiaoT at 2015-10-30 */
/** Create by xiaoT at 2015-08-26 */
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, optgroup, p, blockquote, figure, hr, menu, dir, thead, tbody, tfoot, th, td { margin: 0; padding: 0; }

/** 非大面积文字排版网站通常不需要列表项，如果需要可单独设置 */
ul, ol { list-style-type: none; list-style-image: none; }

/* ========================================================================== 链接 ========================================================================== */
/** 去除链接默认的下划线，提高文字可读性 */
a { text-decoration: none; }

/**
* 去掉 IE 10+ 点击链接时的灰色背景
*/
a:active { background-color: transparent; }

/** 去掉点击时的焦点框，同时保证使用键盘可以显示焦点框 */
a:active, a:hover, a:focus { outline: 0 none; }

/* ========================================================================== 字体和基础排版 ========================================================================== */
/** 1.防止 iOS 横屏字号放大，同时保证在PC上 zoom 功能正常 */
html { -ms-text-size-adjust: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 1 */ text-size-adjust: 100%; font-size: 62.5%; /* 10/16=62.5% */ }

/** 所有 font-family 小写，存在空格的字体名加单引号 @default-font: 'helvetica neue', tahoma, \5B8B\4F53, sans-serif; @heading-font: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti,  \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, 'wenquanyi micro hei', sans-serif; @code-font: monaco, menlo, consolas, monospace; */
/** 中文优先使用冬青黑体简体(OS X)、微软雅黑(Windows)和文泉驿微米黑(Linux) 西文使用 tahoma 1. 防止元素中「font-family」不能继承 2. 西文字体和 OS X 字体写在前面 3. Opera 12.1 之前版本不支持中文字体的英文名称 4. 微软雅黑「\5FAE\8F6F\96C5\9ED1」,中易宋体「\5B8B\4F53」 */
body, button, input, select, textarea { font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif; -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis; /* 5 */ text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis; /* 5 */ }

/** 中文小于 12px 可读性很差 1. 统一 IE 6-7 中字体大小 2. 统一 Firefox 4+，Safari 5 和 Chrome 中「section」和「article」内的字体大小 */
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 36px; }

h2 { font-size: 30px; }

h3 { font-size: 22px; }

h4 { font-size: 18px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

/** 修正「abbr」元素在 Firefox 外其他浏览器没有下划线的问题 添加问号光标，明确语义 */
abbr, acronym { border-bottom: 1px dotted; /* 1 */ cursor: help; /* 2 */ }

/** Firefox3+，Safari4/5 和 Chrome 中统一设置为粗体 */
b, strong { font-weight: bold; }

/** 修正 Safari5 和 Chrome 中没有样式的问题 */
dfn { font-style: italic; }

/** 修正 Firefox 和其他浏览器之间的差异 */
hr { box-sizing: content-box; height: 0; }

/** 网页标记，荧光笔 修正 IE6-11 中没有样式的问题 */
mark { background-color: #D2E5FF; color: #000; }

/** 统一代码的字体设置 字体要能明确区分数字 0 和字母 o Mac 优先使用 Monaco，Windows 优先使用 Consolas XP自带 Courier New Windows 7开始自带的 Consolas Mac上自带的Monaco，Osaka-Mono */
code, kbd, pre, samp { font-family: monaco, menlo, consolas, 'courier new', courier, monospace; }

/** 增强所有浏览器中 pre 标签中文本的可读性 1. IE 6-7 不支持 pre-wrap 2. pre 标签应当包含滚溢出 */
pre { white-space: pre; white-space: pre-wrap; /* 1 */ word-wrap: break-word; overflow: auto; }

/** 行内引用 IE 6-7 不支持 quotes 属性 现代浏览器去除 quotes 内容 */
q { quotes: none; }

/** Safari 4 不支持<q>标签 */
q:before, q:after { content: ''; content: none; }

/** 中文网页<small>元素字号小于 12px 不易阅读 */
small { font-size: 85.7%; /* 12/14=0.8571428571 */ }

/** 防止所有浏览器中的<sub>和<sup>影响行高 http://jsbin.com/usoyal/1/edit */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ========================================================================== 表格 ========================================================================== */
/** 合并单元格边框 */
table { border-collapse: collapse; border-spacing: 0; }

/** 修复 IE 中 th 不能继承 text-align 的问题并统一左对齐 http://jsbin.com/evoxif/2/edit */
th { text-align: left; }

/** 单元格添加边框 */
table th, table td { border: 1px solid #ddd; padding: 8px 10px; }

/** 表头底部边框 */
table th { font-weight: inherit; border-bottom-width: 2px; border-bottom-color: #ccc; }

/* ========================================================================== 嵌入元素 ========================================================================== */
/** 1. 去除 IE6-9 和 Firefox 3 中 a 内部 img 元素默认的边框 2. 修正 IE8 图片消失bug 3. 防止 img 指定「height」时图片高度不能按照宽度等比缩放，导致图片变形 http://jsbin.com/aJoTUca/2 4. 让图片支持响应式 5. 去除现代浏览器图片底部的空隙 6. 修复 IE7 图片缩放失真 */
img { border: 0 none; /* 1 */ width: auto\9; /* 2 */ height: auto; /* 3 */ max-width: 100%; /* 4 */ vertical-align: top; /* 5 */ -ms-interpolation-mode: bicubic; /* 6 */ }

/** 修复 IE9 中的「overflow」的怪异表现 */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== 表单 ========================================================================== */
/** 定义一致的边框、外边距和内边距 */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. 修正 IE 6-9 中颜色不能继承的问题 2. 修正 Firefox3 中文字不换行的问题 3. 修正 IE6-7 中怪异的对齐方式 */
legend { border: 0 none; /* 1 */ white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/** 1. 修正所有浏览器中字体不继承的问题 2. 修正所有浏览器中字号不继承的问题 3. 修正 Firefox 3+， Safari5 和 Chrome 中外边距不同的问题 4. 改善在所有浏览器下的垂直对齐方式 */
button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */ vertical-align: baseline; /* 4 */ *vertical-align: middle; /* 4 */ }

/** 修正 IE7 随着字数增加边距不断增加的问题 */
input, button { *overflow: visible; }

/** 统一各浏览器「text-transform」不会继承的问题 http://jsbin.com/iqecic/1/edit http://tjvantoll.com/2012/07/10/default-browser-handling-of-the-css-text-transform-property/ */
button, select { text-transform: none; }

/** 1. 避免 Android 4.0.* 中的 WebKit bug ，该bug会破坏原生的 「audio」 和「video」的控制器 2. 更正 iOS 中无法设置可点击的「input」的问题 3. 统一其他类型的「input」的光标样式 */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** 重置按钮禁用时光标样式 */
button[disabled], input[disabled] { cursor: default; }

/** 1. 修正 IE 8/9 box-sizing 被设置为「content-box」的问题 2. 移除 IE 8/9 中多余的内边距 3. 移除 IE7 中多余的内边距(IE6 中任然存在) */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/** 1. 修正 Safari 5 和 Chrome 中「appearance」被设置为「searchfield」的问题 2. 修正 Safari 5 和 Chrome 中「box-sizing」被设置为 「border-box」的问题 */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ /* 2 */ box-sizing: content-box; }

/** 1.移除 OS X 中 Safari5 和 Chrome 搜索框内侧的左边距 2.如果需要隐藏清除按钮需要加上 input[type="search"]::-webkit-search-cancel-button */
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 移除 Firefox 3+ 的内边距 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 修正 Chrome 中 input [type="number"] 在特定高度和 font-size 时, 下面一个箭头光标变成「cursor: text」 @demo: http://jsfiddle.net/FFXEc/ 动画演示：http://gtms04.alicdn.com/tps/i4/T18kd8FCtaXXc_FhcF-330-350.gif */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. 移除 IE6-11 中默认的垂直滚动条 2. 禁止水平拖动，防止破坏布局 */
textarea { overflow: auto; /* 1 */ resize: vertical; /* 2 */ }

/** 修正 Chrome 30- option 中文字无法显示的问题 http://jsbin.com/avujas/1/edit  */
select:disabled option:checked, option:disabled:checked { color: #D2D2D2; }

/** 修正 Safari 3+, Chrome 1+ Placeholder 居中问题 */
@media screen and (-webkit-min-device-pixel-ratio: 0) { input { line-height: normal !important; } }
/** 修正 Firefox 19+ Placeholder 设置了opacity 的问题 */
input::-moz-placeholder, textarea::-moz-placeholder { color: darkGray; opacity: 1; }

/** label 元素给予手型，暗示此处可点击 */
label { cursor: pointer; }

/** 统一 select 样式, Firefox 中有 padding:1px 0 http://jsbin.com/avujas/1/edit */
select[size], select[multiple], select[size][multiple] { border: 1px solid #AAA; padding: 0; }

/* ========================================================================== HTML5 元素 ========================================================================== */
/** 修正未定义为「block」的元素 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** 1. 修正未定义为「inline-block」的元素 2. 修正 Chrome、Firefox、Opera 中 「progress」元素 vertical-align 默认值不一致 */
audio, canvas, video, progress { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** 1.防止现代浏览器将没有「controls」属性的 「audio」元素显示出来 2.去掉 iOS 5 中多余的高度 */
audio:not([controls]) { display: none; /* 1 */ height: 0; /* 2 */ }

/** 修复 IE 7/8/9，Firefox 3 和 Safari 4 中 「hidden」属性不起作用的问题 在IE、Safari、Firefox 22- 中隐藏「template」元素 */
[hidden], template { display: none; }

/** 为可拖动元素添加拖动的光标 http://jsbin.com/apavod/1/edit */
[draggable] { cursor: move; }

/** 居中 HTML5 dialog 元素 Chrome 31 支持，需开启 chrome://flags/#enable-experimental-web-platform-features Chrome 28 之前、Firefox 中不支持 height:fit-content;  https://src.chromium.org/viewvc/blink?revision=148314&view=revision ::backdrop 定义遮罩样式 @demo: http://jsbin.com/iPACab/1 */
dialog { border: 1px solid; padding: 0; margin: auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: -moz-fit-content; width: -webkit-fit-content; width: fit-content; height: -moz-fit-content; height: -webkit-fit-content; height: fit-content; }

dialog::-webkit-backdrop { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.3); }

dialog::backdrop { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.3); }

.item .origin, .Ψ, .§, .♦ .flex, .♣, .≈ { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.⊕, .⊕ .loading { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-perspective: 300px; perspective: 300px; }

.⊕ .loading, .⊕::after, .⊕::before { width: 20px; height: 20px; background-color: #fff; }

.item .origin, .Ψ, .§, .♦ .flex, .♣, .≈ { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

body { background-color: #FFA162; }

a { text-decoration: underline; }

.clearfix::after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }

.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.wrap { width: 80%; margin: 20px auto; }

.item { width: 200px; height: 200px; float: left; box-sizing: border-box; border: 2px solid #fff; margin-top: -2px; margin-left: -2px; position: relative; overflow: hidden; }
.item .origin { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); font-size: 24px; color: #fff; -webkit-transition: all .5s; transition: all .5s; -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); }
.item .origin:hover { color: blue; }
.item:hover .origin { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.tip { font-size: 16px; line-height: 1.5; }

.Ψ .loading { width: 16px; height: 16px; border-radius: 50%; background-color: #fff; -webkit-animation: Ψ-left 2s infinite; animation: Ψ-left 2s infinite; }
.Ψ .loading:nth-child(2) { -webkit-animation: Ψ-right 2s infinite; animation: Ψ-right 2s infinite; }
@-webkit-keyframes Ψ-left { 0%, 50%, 100% { -webkit-transform: scale(0); transform: scale(0); }
  25% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
@keyframes Ψ-left { 0%, 50%, 100% { -webkit-transform: scale(0); transform: scale(0); }
  25% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
@-webkit-keyframes Ψ-right { 0%, 50%, 100% { -webkit-transform: scale(0); transform: scale(0); }
  75% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
@keyframes Ψ-right { 0%, 50%, 100% { -webkit-transform: scale(0); transform: scale(0); }
  75% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
.µ { width: 20px; height: 20px; position: relative; }
.µ .loading { width: 10px; height: 10px; border-radius: 50%; position: absolute; }
.µ .loading:nth-child(1), .µ .loading:nth-child(2) { top: -5px; }
.µ .loading:nth-child(3), .µ .loading:nth-child(4) { bottom: -5px; }
.µ .loading:nth-child(1), .µ .loading:nth-child(3) { left: -5px; }
.µ .loading:nth-child(2), .µ .loading:nth-child(4) { right: -5px; }
.µ .loading:nth-child(1) { background-color: #6AAEFF; -webkit-animation: µ-left-top 2s ease-in infinite; animation: µ-left-top 2s ease-in infinite; }
.µ .loading:nth-child(2) { background-color: #71006A; -webkit-animation: µ-right-top 2s ease-in infinite; animation: µ-right-top 2s ease-in infinite; }
.µ .loading:nth-child(3) { background-color: #6EFF6A; -webkit-animation: µ-left-bottom 2s ease-in infinite; animation: µ-left-bottom 2s ease-in infinite; }
.µ .loading:nth-child(4) { background-color: #886200; -webkit-animation: µ-right-bottom 2s ease-in infinite; animation: µ-right-bottom 2s ease-in infinite; }
@-webkit-keyframes µ-left-top { 0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
  50% { -webkit-transform: translate(20px, 20px); transform: translate(20px, 20px); } }
@keyframes µ-left-top { 0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
  50% { -webkit-transform: translate(20px, 20px); transform: translate(20px, 20px); } }
@-webkit-keyframes µ-right-top { 0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
  50% { -webkit-transform: translate(-20px, 20px); transform: translate(-20px, 20px); } }
@keyframes µ-right-top { 0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
  50% { -webkit-transform: translate(-20px, 20px); transform: translate(-20px, 20px); } }
@-webkit-keyframes µ-left-bottom { 0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
  50% { -webkit-transform: translate(20px, -20px); transform: translate(20px, -20px); } }
@keyframes µ-left-bottom { 0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
  50% { -webkit-transform: translate(20px, -20px); transform: translate(20px, -20px); } }
@-webkit-keyframes µ-right-bottom { 0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
  50% { -webkit-transform: translate(-20px, -20px); transform: translate(-20px, -20px); } }
@keyframes µ-right-bottom { 0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
  50% { -webkit-transform: translate(-20px, -20px); transform: translate(-20px, -20px); } }
.£ { width: 50px; height: 50px; border: 1px solid #fff; border-radius: 100%; position: relative; -webkit-animation: £ 1s infinite; animation: £ 1s infinite; }
.£::after { content: ''; position: absolute; left: 50%; top: -5px; width: 10px; height: 10px; background-color: #fff; border-radius: 100%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
@-webkit-keyframes £ { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes £ { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.§ .loading { width: 16px; height: 16px; border-radius: 50%; background-color: #fff; -webkit-transform: translateZ(-1px); transform: translateZ(-1px); }
.§ .loading:first-child { -webkit-animation: §-first 1s ease-out infinite; animation: §-first 1s ease-out infinite; }
.§ .loading:last-child { -webkit-animation: §-last 1s ease-out infinite; animation: §-last 1s ease-out infinite; }
@-webkit-keyframes §-first { 0%, 50%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  25% { -webkit-transform: translateX(-20px); transform: translateX(-20px); } }
@keyframes §-first { 0%, 50%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  25% { -webkit-transform: translateX(-20px); transform: translateX(-20px); } }
@-webkit-keyframes §-last { 0%, 50%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  75% { -webkit-transform: translateX(20px); transform: translateX(20px); } }
@keyframes §-last { 0%, 50%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  75% { -webkit-transform: translateX(20px); transform: translateX(20px); } }
.♦ .flex:nth-child(1) .loading:nth-child(1) { -webkit-animation: ♦ 3s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; animation: ♦ 3s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; }
.♦ .flex:nth-child(1) .loading:nth-child(2) { -webkit-animation: ♦ 3s 0.25s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; animation: ♦ 3s 0.25s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; }
.♦ .flex:nth-child(1) .loading:nth-child(3) { -webkit-animation: ♦ 3s 0.5s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; animation: ♦ 3s 0.5s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; }
.♦ .flex:nth-child(2) { margin-top: 9px; margin-left: 23px; }
.♦ .flex:nth-child(2) .loading:nth-child(1) { -webkit-animation: ♦ 3s 0.75s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; animation: ♦ 3s 0.75s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; }
.♦ .flex:nth-child(2) .loading:nth-child(2) { -webkit-animation: ♦ 3s 1s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; animation: ♦ 3s 1s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; }
.♦ .flex:nth-child(2) .loading:nth-child(3) { -webkit-animation: ♦ 3s 1.25s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; animation: ♦ 3s 1.25s cubic-bezier(0.55, 0.09, 0.72, 0.26) infinite; }
.♦ .loading { width: 22px; height: 14px; background-color: #fff; position: relative; margin-left: 2px; }
.♦ .loading::before, .♦ .loading::after { content: ''; position: absolute; left: 0; width: 0; height: 0; border-width: 7px 11px; border-style: solid; }
.♦ .loading::before { top: -14px; border-color: transparent transparent #fff transparent; }
.♦ .loading::after { bottom: -14px; border-color: #fff transparent transparent transparent; }
@-webkit-keyframes ♦ { 0% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  7.1425% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  14.284% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  21.426% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  28.568% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  35.71% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  42.852% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  49.994% { opacity: 1; -webkit-transform: scale(1.1); transform: scale(1.1); }
  57.136% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  64.278% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  71.42% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  78.562% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  85.704% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  92.846% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); } }
@keyframes ♦ { 0% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  7.1425% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  14.284% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  21.426% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  28.568% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  35.71% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  42.852% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
  49.994% { opacity: 1; -webkit-transform: scale(1.1); transform: scale(1.1); }
  57.136% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  64.278% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  71.42% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  78.562% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  85.704% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  92.846% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); } }
.♣ .loading { width: 40px; height: 40px; border-radius: 50%; border: 4px dashed #fff; position: relative; -webkit-transform: rotate(20deg); -ms-transform: rotate(20deg); transform: rotate(20deg); -webkit-animation: ♣-left 2s linear infinite; animation: ♣-left 2s linear infinite; }
.♣ .loading::after { content: ''; background-color: #fff; position: absolute; width: 100%; height: 100%; border-radius: 50%; }
.♣ .loading:last-child { width: 20px; height: 20px; border: 3px dashed #fff; margin-top: 37px; margin-left: -8px; -webkit-animation: ♣-right 1s linear infinite; animation: ♣-right 1s linear infinite; }
@-webkit-keyframes ♣-left { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes ♣-left { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes ♣-right { 0% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0); transform: rotate(0); } }
@keyframes ♣-right { 0% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0); transform: rotate(0); } }
.◊ { width: 100px; height: 100px; position: relative; -webkit-animation: ◊ 1s linear infinite; animation: ◊ 1s linear infinite; }
.◊::after, .◊::before { content: ''; position: absolute; top: 30px; width: 40px; height: 40px; background-color: #fff; border-radius: 50%; }
.◊::after { left: 10px; -webkit-animation: ◊-after 2s infinite; animation: ◊-after 2s infinite; }
.◊::before { right: 10px; -webkit-animation: ◊-after 2s -1s infinite; animation: ◊-after 2s -1s infinite; }
@-webkit-keyframes ◊-after { 0%, 100% { -webkit-transform: scale(0); transform: scale(0); }
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
@keyframes ◊-after { 0%, 100% { -webkit-transform: scale(0); transform: scale(0); }
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
@-webkit-keyframes ◊ { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes ◊ { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.⊕ { position: relative; }
.⊕ .loading { -webkit-transform: rotateZ(45deg) rotateX(45deg); transform: rotateZ(45deg) rotateX(45deg); }
.⊕::after, .⊕::before { position: absolute; top: 0; left: 0; }
@-webkit-keyframes ⊕-first-after { 0% { opacity: 0; -webkit-transform: rotateX(-179deg); transform: rotateX(-179deg); }
  10% { opacity: 1; -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  20% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 1; } }
@keyframes ⊕-first-after { 0% { opacity: 0; -webkit-transform: rotateX(-179deg); transform: rotateX(-179deg); }
  10% { opacity: 1; -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  20% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 1; } }
@-webkit-keyframes ⊕-first { 0% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  50% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  60% { -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }
  90% { -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); } }
@keyframes ⊕-first { 0% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  50% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  60% { -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }
  90% { -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); } }
.≡ { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-perspective: 300px; perspective: 300px; }
.≡ .cube { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; width: 50px; height: 50px; position: relative; -webkit-animation: ≡ 6s infinite; animation: ≡ 6s infinite; }
.≡ .top, .≡ .bottom, .≡ .front, .≡ .back, .≡ .left, .≡ .right { position: absolute; top: 0; left: 0; width: 50px; height: 50px; box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2); }
.≡ .top { background-color: rgba(255, 0, 0, 0.5); -webkit-transform: rotateX(90deg) translateZ(25px); transform: rotateX(90deg) translateZ(25px); }
.≡ .bottom { background-color: rgba(255, 255, 0, 0.5); -webkit-transform: rotateX(-90deg) translateZ(25px); transform: rotateX(-90deg) translateZ(25px); }
.≡ .front { background-color: rgba(0, 255, 0, 0.5); -webkit-transform: translateZ(25px); transform: translateZ(25px); }
.≡ .back { background-color: rgba(255, 0, 255, 0.5); -webkit-transform: rotateX(-180deg) translateZ(25px); transform: rotateX(-180deg) translateZ(25px); }
.≡ .right { background-color: rgba(0, 0, 255, 0.5); -webkit-transform: rotateY(-90deg) translateZ(25px); transform: rotateY(-90deg) translateZ(25px); }
.≡ .left { background-color: rgba(0, 255, 255, 0.5); -webkit-transform: rotateY(90deg) translateZ(25px); transform: rotateY(90deg) translateZ(25px); }
@-webkit-keyframes ≡ { 0% { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.66% { -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg); transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg); }
  33.33% { -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(90deg); transform: rotateX(90deg) rotateY(0deg) rotateZ(90deg); }
  50% { -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg); transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg); }
  66.66% { -webkit-transform: rotateX(180deg) rotateY(90deg) rotateZ(90deg); transform: rotateX(180deg) rotateY(90deg) rotateZ(90deg); }
  83.33% { -webkit-transform: rotateX(180deg) rotateY(90deg) rotateZ(180deg); transform: rotateX(180deg) rotateY(90deg) rotateZ(180deg); }
  100% { -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); } }
@keyframes ≡ { 0% { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16.66% { -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg); transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg); }
  33.33% { -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(90deg); transform: rotateX(90deg) rotateY(0deg) rotateZ(90deg); }
  50% { -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg); transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg); }
  66.66% { -webkit-transform: rotateX(180deg) rotateY(90deg) rotateZ(90deg); transform: rotateX(180deg) rotateY(90deg) rotateZ(90deg); }
  83.33% { -webkit-transform: rotateX(180deg) rotateY(90deg) rotateZ(180deg); transform: rotateX(180deg) rotateY(90deg) rotateZ(180deg); }
  100% { -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); } }
.≈ .loading { position: relative; margin: 0 4px; width: 5px; height: 15px; border-radius: 2px; border: solid #690; border-width: 0 1px 1px 0; background: #9b2; -webkit-transform-origin: center bottom; -ms-transform-origin: center bottom; transform-origin: center bottom; -webkit-animation: ≈ 5s infinite; animation: ≈ 5s infinite; }
.≈ .loading::after { content: ''; position: absolute; bottom: 0; z-index: -1; width: 5px; height: 5px; background: transparent; box-shadow: 0 2px rgba(0, 0, 0, 0.3); opacity: 0; -webkit-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; transform-origin: 0% 0%; -webkit-animation: ≈-after 5s infinite; animation: ≈-after 5s infinite; }
.≈ .loading:nth-child(2) { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.≈ .loading:nth-child(2)::after { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.≈ .loading:nth-child(3) { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.≈ .loading:nth-child(3)::after { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.≈ .loading:nth-child(4) { -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }
.≈ .loading:nth-child(4)::after { -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }
.≈ .loading:nth-child(5) { -webkit-animation-delay: 1.2s; animation-delay: 1.2s; -webkit-animation-name: ≈-last; animation-name: ≈-last; }
.≈ .loading:nth-child(5)::after { -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
.≈ .loading:nth-child(5)::after { -webkit-animation-name: ≈-after-last; animation-name: ≈-after-last; }
@-webkit-keyframes ≈ { 10% { -webkit-transform: rotate(70deg); transform: rotate(70deg); }
  60% { -webkit-transform: rotate(70deg); transform: rotate(70deg); }
  70% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@keyframes ≈ { 10% { -webkit-transform: rotate(70deg); transform: rotate(70deg); }
  60% { -webkit-transform: rotate(70deg); transform: rotate(70deg); }
  70% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@-webkit-keyframes ≈-last { 10% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  60% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  70% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@keyframes ≈-last { 10% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  60% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  70% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@-webkit-keyframes ≈-after { 10% { -webkit-transform: rotate(-70deg); transform: rotate(-70deg); width: 10px; opacity: 1; }
  60% { -webkit-transform: rotate(-70deg); transform: rotate(-70deg); width: 10px; opacity: 1; }
  70% { width: 5px; -webkit-transform: rotate(0deg); transform: rotate(0deg); opacity: 0; } }
@keyframes ≈-after { 10% { -webkit-transform: rotate(-70deg); transform: rotate(-70deg); width: 10px; opacity: 1; }
  60% { -webkit-transform: rotate(-70deg); transform: rotate(-70deg); width: 10px; opacity: 1; }
  70% { width: 5px; -webkit-transform: rotate(0deg); transform: rotate(0deg); opacity: 0; } }
@-webkit-keyframes ≈-after-last { 10% { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; left: 3px; bottom: -1px; }
  60% { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; left: 3px; bottom: -1px; }
  70% { width: 5px; height: 5px; -webkit-transform: rotate(0deg); transform: rotate(0deg); opacity: 0; } }
@keyframes ≈-after-last { 10% { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; left: 3px; bottom: -1px; }
  60% { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; left: 3px; bottom: -1px; }
  70% { width: 5px; height: 5px; -webkit-transform: rotate(0deg); transform: rotate(0deg); opacity: 0; } }
.∫ { width: 100px; height: 40px; border-radius: 50%; position: relative; }
.∫ .loading { position: absolute; right: 0; top: 15px; width: 10px; height: 10px; border-radius: 50%; background-color: #fff; opacity: 0; -webkit-animation: ∫-loading 1s linear infinite; animation: ∫-loading 1s linear infinite; }
.∫ .loading:nth-child(2) { -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }
.∫ .loading:nth-child(3) { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.∫ .loading:nth-child(4) { -webkit-animation-delay: 0.75s; animation-delay: 0.75s; }
.∫::after, .∫::before { content: ''; position: absolute; left: 0; height: 0; width: 0; border-width: 20px; border-style: solid; border-color: #fff transparent transparent #fff; border-radius: 50%; }
.∫::after { bottom: 0px; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); -webkit-animation: ∫-after 1s infinite; animation: ∫-after 1s infinite; }
.∫::before { top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); -webkit-animation: ∫-before 1s infinite; animation: ∫-before 1s infinite; }
@-webkit-keyframes ∫-before { 0%, 100% { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
  50% { -webkit-transform: rotate(10deg); transform: rotate(10deg); } }
@keyframes ∫-before { 0%, 100% { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
  50% { -webkit-transform: rotate(10deg); transform: rotate(10deg); } }
@-webkit-keyframes ∫-after { 0%, 100% { -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
  50% { -webkit-transform: rotate(-105deg); transform: rotate(-105deg); } }
@keyframes ∫-after { 0%, 100% { -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
  50% { -webkit-transform: rotate(-105deg); transform: rotate(-105deg); } }
@-webkit-keyframes ∫-loading { 0% { -webkit-transform: translate(0px); transform: translate(0px); opacity: 0; }
  100% { -webkit-transform: translate(-80px); transform: translate(-80px); opacity: 1; } }
@keyframes ∫-loading { 0% { -webkit-transform: translate(0px); transform: translate(0px); opacity: 0; }
  100% { -webkit-transform: translate(-80px); transform: translate(-80px); opacity: 1; } }
