@charset "UTF-8";
/**
 * Create by xiaoT
 * at 2015-10-30
 */

@import "reset";
@import "css-loading-mixin";
$bgColor: #FFA162;
$borderColor: #fff;
$heighLightColor: #3c7af0;
body {
	background-color: $bgColor;
}

a {
	text-decoration: underline;
}
.clearfix {
	&::after {
		content: '';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap {
	width: 80%;
	margin: 20px auto;
}
.item {
	width: 25%;
	height: 100px;
	float: left;
	box-sizing: border-box;
	border: 2px solid $borderColor;
	margin-top: -2px;
	margin-left: -2px;
}
.tip {
	font-size: 16px;
	line-height: 1.5;
}

// loading effect

.Ψ {
	@include Ψ;
}

.µ {
	@include µ
}

.£ {
	@include £;
}

.§ {
	@include §;
}

.♦ {
	@include ♦;
}

.♣ {
	@include ♣;
}

